PORT=3000
MONGO_URI=mongodb://localhost:27017/nexoralabs
# Correos (Gmail con contraseña de aplicación):
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=tu_correo@gmail.com
# SMTP_PASS=tu_correo_de_aplicacion